@import 'skeleton';

h1 > a {
  color: #222;
  text-decoration: none;
}

.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  border-bottom: 1px solid #eee;

  ul {
    list-style: none;
  }  
}