<div ng-controller="navbarCtrl">
  <div rf-navbar></div>
</div>

<div class="container-fluid" id="home">
  <div class="row">
    <div class="col-md-12" id="home-header">
      <div class="col-md-6 col-md-offset-3 input-group">
        <div class="form-group">
          <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search for classes...">
        </div>
      </div>
    </div>
  </div>
  <br>
  <ul>
    <li ng-repeat="course in courses | filter:searchTerm" class="title">
      <a ng-href="#/course/{{ course.abbr }}">
        <b>{{ course.abbr }} - </b>
        {{ course.title }}
      </a>
    </li>
  </ul>
</div>