body {
  font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
}
.title a {
  color: #444;
  list-style: none;
}
.title a b {
  color: #380091;
}
#home {
  margin-top: -20px;
}
#home-header {
  background-image: radial-gradient(circle at top left, #ae01bb, #380091);
  color: white;
}
#home-header .form-control {
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: none;
  padding: 80px 0;
  color: white;
  font-size: 2em;
  text-align: center;
}
#home-header .form-control::-webkit-input-placeholder {
  color: white;
}
#home-header .form-control:-moz-placeholder {
  color: white;
}
#home-header .form-control::-moz-placeholder {
  color: white;
}
#home-header .form-control:-ms-input-placeholder {
  color: white;
}
#footer {
  font-style: italic;
  color: #aaa;
}
#footer a {
  color: #aaa;
}
ul {
  column-count: 2;
  list-style: none;
}
h1 {
  color: #380091;
}
h3 {
  color: #9B9B9B;
  font-weight: normal;
}
.table th,
.table td {
  border-color: #EEE !important;
}
.progress {
  background-color: transparent;
  border: 2px solid #380091;
  border-radius: 100px;
  height: 24px;
}
.progress .progress-bar {
  background-color: #380091;
  border-radius: 100px;
  box-shadow: none;
}
